/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
	height: 100%;
}

body {
	background: #f7f8fa;
}

.page {
	padding-block: 1.25rem;
}

.card {
	border: 0;
	border-radius: 0.75rem;
	box-shadow: 0 1px 2px rgba(16, 24, 40, 0.06), 0 1px 3px rgba(16, 24, 40, 0.1);
}
